body {
  background-color: black;
  color: silver;
    margin: 0;
    font-family: sans-serif;
  }
  
  .app {
    display: flex;
    flex-direction: row;
  }
  
  .sidebar {
    min-height: 100vh;
    min-width: 12em;
    width: 28%;
    border-right: solid black 1px;
    background: #e5fdff;
    padding: 1em;
  }
  
  .sidebar > button {
    width: 100%;
  }
  
  .shoes-container {
    max-width: 30em;
    margin: auto;
  }
  
  .shoes-container > div {
    border-bottom: solid 1px gold;
    padding-bottom: 1em;
    min-width: 20em;
  }
  
  .shoes-container > div > button {
    min-width: 4em;
  }
  
  form.new-shoe-form {
    border: solid black 1px;
    padding: 1em;
    display: flex;
    flex-direction: column;
  }
  
  form.new-shoe-form > input,
  form.new-shoe-form > textarea {
    font-size: 1em;
    font-family: sans-serif;
    margin-bottom: 0.5em;
  }
  
  input[type="submit"],
  button {
    font-weight: bold;
    font-size: 1em;
    background: black;
    border: solid gold 1px;
    padding: 0.5em;
    cursor: pointer;
    color: gold;
  }


/*likes*/
  .like-button {
    animation-fill-mode: backwards;
    color: gold;
    font-size: 2rem;
    border: none;
    background: none;
    transition: color 300ms;
    cursor: pointer;
    margin-top: 190px;
    margin-left: 14px;
  }
  
  .like-button:hover {
    color: goldenrod;
  }
  
  .like-button:active {
    color: goldenrod;
  }
  
  .like-button:focus {
    outline: none;
  }
  
  